$gray-dark: #16302b;
$blue-dark: #577399;
$blue: #bdd5ea;
$gray: #f7f7ff;
$yellow: #F2F79E;

$black: #000000;
$white: #ffffff;

$font-family-base: 'Nunito', sans-serif;

// 📏 Font Sizes (Desktop)
$font-size-h1: 60px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 20px;
$font-size-p: 18px;

// 📏 Font Sizes (Mobile)
$font-size-h1-mobile: 43px;
$font-size-h2-mobile: 36px;
$font-size-h3-mobile: 26px;
$font-size-h4-mobile: 18px;
$font-size-p-mobile: 16px;

// 🌐 Breakpoints
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;

$mobile-max-width: 767px;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;